.pointer_and_wheel {
    position: fixed;
    z-index: 5001;
    .cover {
        z-index: 30;
        position: relative;
        .pointer {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            // background-color: #121212;
            // border: 2px solid #3e3e3e;
            background: linear-gradient(145deg, #101010, #131313) !important;
            background-color: rgba(10, 10, 10, 1);
            box-shadow: inset 5px 5px 12px #0a0a0a,
                            inset -5px -5px 12px #1a1a1a !important;
        }
        .wheel {
            position: absolute;
            top: - 40px;
            left: - 40px;
            .container {
                position: relative;
                .layer_1, .layer_2, .layer_3 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100px;
                    height: 100px;
                    background-size: contain;
                }
                .list {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    a {
                        position: absolute;
                        background-color: #1b1b1b;
                        opacity: 0;
                    }
    
                    .select_1 {
                        width: 50px;
                        height: 50px;
                    }
                    .select_2 {
                        width: 100px;
                        height: 50px;
                    }
                    .select_3 {
                        width: 50px;
                        height: 50px;
                    }
                }
                .layer_1 {
                    background-image: url("img/wheel_img.png");
                    .list {
                        .select_1 {
                            top: 0;
                            right: 0;
                        }
                        .select_2 {
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        .select_3 {
                            top: 0;
                            left: 0;                    
                        }
                    }
                }
                .layer_2 {
                    .list {
                        .select_1 {
                            bottom: 0;
                            left: 0;
                        }
                        .select_2 {
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        .select_3 {
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
                .layer_3 {
                    .list {
                        .select_1 {
                            bottom: 0;
                            left: 0;
                            width: 50px;
                            height: 100px;
                        }
                        .select_2 {
                            top: 0;
                            right: 0;  
                            width: 50px;
                            height: 100px;
                        }
                    }
                }
                .layer_select_1 {
                    background-image: url("img/wheel_2.png");
                }
                .layer_select_2 {
                    background-image: url("img/wheel_3.png");
                }
                .layer_select_3 {
                    background-image: url("img/wheel_4.png");
                }
            }
        }
    }
}

.um_display {
    z-index: 4500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    .relative {
      width: 100%;
      height: 100%;
      position: relative;
      .flex {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        // border: 2px solid red;
        box-sizing: border-box;
        .panc {
            min-width: 100vw;
            display: inline-block;
        }
        .box {
          display: inline-block;
          min-width: 360px;
          min-height: 200px;
          object-fit: cover;
          position: relative;
          box-sizing: border-box;
           &:after {
             content: '';
             position: absolute;
            //  width: 1px;
             height: 100%;
            //  background-color: gray;
           }
          img, iframe {
             display: block;
             width: 100%;
             height: 100%;
             object-fit: cover !important;
          }
        }
        .um_centering {
            border: 5px solid #0070D8;
        }     
        .null_f {
           background-image: url("img/um_box.png");
           background-size: cover;
           background-position: 50% 50%;
           display: inline-block;
           min-width: 360px;
           min-height: 200px;
           box-sizing: border-box;
        }
      }
      .um_image {
        width: 360px;
        flex-direction: column;
        overflow-y: scroll;
        white-space: nowrap;
      }
      .um_video {
        height: 225px;
        width: calc(calc(100% + 360px) / 2);
        left: 0;
        overflow-x: scroll;
        white-space: nowrap;
        flex-direction: row; 
      }
      .um_audio {
        height: 225px;
        width: calc(calc(100% + 360px) / 2);
        right: 0;
        overflow-x: scroll;
        white-space: nowrap;
        flex-direction: row-reverse;
      }
    }
}  

.block_layer {
    position: relative;
    width: 100vw;
    padding: 100vh 0;
    &::after {
        content: '';
        width: 1.5px;
        background-color: #0a0a0a;
        height: 100vh;
        position: absolute;
        top: 0;
        left: calc(calc(100% + 360.5px) / 2);
    }
    .sp_cover {
        max-width: calc(calc(100% + 360px) / 2);
        border: 1.5px solid #0a0a0a;
        .orange_space {
            position: relative;
            z-index: 200;
            top:  -6px;
            .orange_pointer_zone, .orange_stripe_zone {
                position: absolute;
                top: 0;
                // とりあえず horizontal をパクってみる。
                width: calc(calc(100% + 360px) / 2);
                margin: 0 auto 0 0;
                overflow-x: auto;
                white-space: nowrap;
                // background-color: #909090;
                .orange_line {
                    display: inline-block;
                    position: relative;
                    width: calc(calc(360px * 24) + 200vw);
                    height: 12px;
                    .orange_pointer, .orange_stripe {
                        position: absolute;
                        background-color: #0070D8;
                        // top: 50%;
                        // transform: translateY((-50%));
                    }
                    .orange_pointer {
                        z-index: 999;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        top: 2px;
                    }
                    .orange_stripe {
                        z-index: 99;
                        height: 3px;
                        top: 4.5px;
                    }
                }
            }
        }
        .sp {
            position: relative;
            z-index: 100;
            .horizontal {
                width: 100%;
                margin: 0 auto 0 0;
                overflow-x: auto;
                white-space: nowrap;
                .horizontal_child {
                    display: inline-block;
                }    
                .adjuster {
                    width: 100vw;
                    background-color: rgb(0, 0, 0);
                }
                .vertical {
                    width: 360px;
                    height: 66px;
                    margin: 0 auto;
                    vertical-align: top;
                    position: relative;
                    // border-right: 2px solid #000000;
                    // border-bottom: 2px solid #000000;
                    // background: linear-gradient(145deg, #101010, #131313) !important;
                    // box-shadow:  inset 5px 0px 12px #0a0a0a,
                    //                 inset -5px 0px 12px #1a1a1a !important;
                    // border: 2px solid #0a0a0a;
                    box-sizing: border-box;
                    overflow: hidden;
                    // padding: 30px 0;
                    .stripe_ver {
                        position: absolute;
                        width: 5px;
                        height: 100%;
                        // background-color: rgb(0, 0, 0);
                        top: 0;
                        left: 0;
                    }
                    .stripe_hor {
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        // background-color: rgb(0, 0, 0);
                        top: 0;
                        left: 0;
                    }
                    label {
                        width: 100%;
                        height: 100%;
                        // margin: 10px auto;
                        display: block;
                        text-align:center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        input {
                            display: none;
                        }
                    }
                    .image_input {
                        background-image: url("img/img_box.png");
                        background-size: cover;
                        background-position: 50% 50%;
                    }
                    .video_input {
                        background-color: purple;
                    }
                    .audio_input {
                        background-color: blue;
                    }
                    .write_area, img, iframe {
                        padding: 20px 10px;
                    }
                }

                .centering {
                    // background-color: #d1ffd1;
                    // border: 5px solid #0070D8 !important;
                    // background: linear-gradient(145deg, #101010, #131313) !important;
                    box-shadow:  inset 5px 5px 12px #0a0a0a,
                                    inset -5px -5px 12px #171717 !important;
                }

                .original_centering {
                    // background-color: rgba(255, 73, 173, 0.1);
                }

                .video, .img {
                    height: 225px !important;
                }

                .same {
                    .write_area, img, iframe {
                        opacity: 0 !important;
                    }
                }
                .same_start, .same_end {
                    .write_area, img, iframe {
                        opacity: 1 !important;
                    }
                }                
            }
        }
    }

    .connected {
        // box-shadow:  inset 0px 8px 12px #0a0a0a,
        //                 inset 0px -8px 12px #1a1a1a !important;
        .sp {
            .horizontal {
                .vertical {                    
                    // box-shadow:  inset 8px 0px 12px #0a0a0a,
                    //     inset -8px 0px 12px #1a1a1a !important;
                }
            }
            &:first-of-type {
                .horizontal {
                    .vertical  {
                        // border-bottom: 2px solid #000000 !important;
                        // box-shadow:  inset 10px 0px 10px #0a0a0a,
                        // inset -10px 0px 10px #1a1a1a !important;
                    }
                    .centering {
                        // border-bottom: 5px solid #0070D8 !important;
                    }
                }
            }
            &:last-of-type {
                .horizontal {
                    .vertical  {
                        // border-bottom: 2px solid #000000 !important;
                        // box-shadow:  inset 0px -5px 12px #0a0a0a,
                        // inset 0px -5px 12px #1a1a1a !important;
                        // box-shadow:  inset -10px 0px 10px #1a1a1a,
                        // inset 10px 0px 10px #0a0a0a !important;
                    }
                    .centering {
                        // border-bottom: 5px solid #0070D8 !important;
                    }
                }
            }
        }
    }
}

.new_layer {
    z-index: 5000;
    .sp_cover {
        max-width: 100vw;
        z-index: 1 !important;
        .orange_space {
            z-index: 15;
            .orange_pointer_zone, .orange_stripe_zone {
                width: 100%;
            }
        }
        .sp {
            z-index: 1 !important;
            .horizontal {
                // max-width: calc(calc(100% + 360px) / 2);
                // max-width: 100%;
                .centering {
                    box-shadow: none !important;
                }
                .new_layer_centering {
                    // background-color: #0070D8 !important;
                    box-shadow:  inset 5px 5px 12px #0a0a0a,
                                    inset -5px -5px 12px #171717 !important;
                }

                .vertical {
                    border: 1px solid #0a0a0a;
                    box-sizing: border-box;
                    .stripe_ver {
                        // background-color: #1a1a1a;
                    }
                    .stripe_hor {
                        // background-color: #1a1a1a;

                    }
                }
            }
        }
    }
    .principle_block {
        .sp {
            .horizontal {
                // background-color: #121212;
            }
        }
    }
    .principle_pointer {
        .orange_space {
            .orange_pointer_zone, .orange_stripe_zone {
                // background-color: #121212;
            }
        }
    }
}

.statusbar {
    width: 100%;
    padding: 00px 50px;
    height: 80px;
    background-color: #0a0a0a;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    // filter: drop-shadow(0px -3px 5px #000000);
    
    p, a {
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #fff;
        display: block;
        .url {
            opacity: 0.6;
            font-weight: 500;
            text-decoration: underline;
            display: inline;
        }
    }
    .bc {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .export_button, .usage_button {
            font-weight: 500;
            text-align: center;
            width: 45%;
            padding: 5px;
            border-radius: 2px;
            letter-spacing: 0.1em;
        }
        .export_button {
            background-color: #0070D8;
        }
        .usage_button {
            background-color: #00d80e;
        }
    }
    p {
        width: 30%;
        text-align: right;
        font-weight: 400;
    }
}

.write_area {
    position: absolute;
    width: 90%;
    height: 66px;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #ffffff;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-family: "Brandon-Grotesque", sans-serif;
    line-height: 2;
    border: none;
    resize: none;
    outline: none;
}

img, iframe {
    position: absolute;
    top: 0;
    object-fit: contain;
    width: 90%;
    box-sizing: border-box;
}

.ms_area {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 93%;
    height: 28px;
    font-size: 1rem;
    color: #808080;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 0.15em;
    font-family: "Brandon-Grotesque", sans-serif;
    line-height: 2;
    border: none;
    border-bottom: 1px solid #222222;
    resize: none;
    outline: none;
    padding: 5px 10px 20px 10px;
    box-sizing: border-box;
    // border-radius: 2px;
}

.special_cov {
    z-index: 5000;
    // box-shadow:  inset 5px 5px 12px #0a0a0a,
    //                 inset -5px -5px 12px #171717 !important;
    background-color: #121212;
    // overflow: hidden;
        .write_area, img, iframe {
            // blocksizeと関与. なぜか textareaだけが1pxずれるので条件分岐せざるを得ず.
            padding: 20px 10px;
            width: calc(360px * 0.9) !important;
        }
}
.edit_mode {
    .sp_cover {
        .sp {
            .horizontal {
                .vertical {
                    // border-right: 2px solid #121212;
                    // border-bottom: 2px solid #121212;
                }
            }
        }
    }
    .connected {
        .sp {
            &:last-of-type {
                .horizontal {
                    .vertical  {
                        // border-bottom: 2px solid #121212 !important;
                    }
                }
            }
        }
    }
    .special_cov {
        // background-color: #0070D8;
        background-color: #121212;
        .write_area, img, iframe {
            padding: 20px 10px;
            width: calc(360px * 0.9) !important;
        }
    }
}


.redirect_cover, .cheet_sheet {
    width: 100vw;
    height: calc(100vh - 80px);
    position: fixed;
    z-index: 8000;
    top: 0;
}

.redirect_cover {
    background-color: #0070D8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .contents {
        z-index: 300;
        text-align: center;
        opacity: 0;
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        .download_button {
            padding: 15px 25px;
            border-radius: 3px;
            // background-color: ;
            line-height: 1;
            color: #fff;
            font-size: 2rem;
            font-weight: 500; 
            letter-spacing: 0.06em;
            border: 0.8px solid #fff;
        }
        .additional {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500; 
            letter-spacing: 0.05em;
            margin: 0 0 0 80px;
            display: block;
            border-bottom: 0.6px solid #fff;
        }
    }
}


.cheet_sheet {
    -webkit-backdrop-filter: blur(5px); /* ぼかしエフェクト */
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;

    .flex {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;

        .box {
            margin: 20px;
            border-radius: 5px;
            width: 200px;
            padding: 10px;
            box-sizing: border-box;
            color: #fff !important;
            border: 0.5px solid #fff;
            h4 {
                font-size: 2rem;
                letter-spacing: 0.1em;
                font-weight: 500;
                line-height: 2.2;
            }
            p {
                margin: 5px 0 0 0;
                font-size: 1.4rem;
                letter-spacing: 0.0.6em;
                font-weight: 400;
                line-height: 2;
            }
        }
    }

}


// スクロールバーの前非表示
.horizontal, .orange_pointer_zone, .orange_stripe_zone {
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
  &::-webkit-scrollbar{
   display: none;
  }
}


// *** wheel .... long, long, and long....

// * あくまでエディター上の描画が目的の
// vertical | horizontal | scale | opacity

.styling_1_0_0_0 {
    top: 50%!important;
    left: 0 !important;
    font-size: 1.3rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_1_0_0_0
     {
    transform: translateY(-50%) scale(0.5) !important;
    }
}

.styling_0_1_0_0 {
    top: -20px !important;
    left: 50% !important;
    font-size: 1.3rem !important;
    transform: translateX(-50%) scale(1) !important;
}
.img, .video {
    .styling_0_1_0_0
     {
        transform: translateX(-50%) scale(0.5) !important;
    }
}

.styling_0_0_1_0 {
    top: -20px !important;
    left: 0 !important;
    font-size: 1.3rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_0_0_1_0
     {
        transform: scale(1) !important;
    }
}

.styling_0_0_0_1 {
    top: -20px !important;
    left: 0 !important;
    transform: scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_0_0_0_1
     {
        transform: scale(0.5) !important;
    }
}

.styling_1_1_0_0 {
    top: 50% !important;
    left: 50% !important;
    font-size: 1.3rem !important;
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_1_1_0_0
     {
        transform: translate(-50%, -50%) scale(0.5) !important;
    }
}

.styling_0_1_1_0 {
    top: -20px !important;
    left: 50% !important;
    font-size: 1.8rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_0_1_1_0
     {
        transform: translateX(-50%) scale(1) !important;
    }
}

.styling_0_0_1_1 {
    top: -20px !important;
    left: 0 !important;
    font-size: 1.8rem !important;
    transform: scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_0_0_1_1
     {
        transform: scale(1) !important;
    }
}

.styling_1_0_1_0 {
    top: 50% !important;
    left: 0 !important;
    font-size: 1.8rem !important;
    transform: translateY(-50%) scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_1_0_1_0
     {
        transform: translateY(-50%) scale(1) !important;
    }
}

.styling_0_1_0_1 {
    top: -20px !important;
    left: 50% !important;
    transform: translateX(-50%) scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_0_1_0_1
     {
        transform: translateX(-50%) scale(0.5) !important;
    }
}

.styling_1_0_0_1 {
    top: 50% !important;
    left: 0 !important;
    transform: translateY(-50%) scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_1_0_0_1
     {        
        transform: translateY(-50%) scale(0.5) !important;
    }
}

.styling_1_1_1_0 {
    top: 50% !important;
    left: 50% !important;
    font-size: 1.8rem !important;
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_1_1_1_0
     {
        transform: translate(-50%, -50%) scale(1) !important;
    }
}

.styling_0_1_1_1 {
    top: -20px !important;
    left: 50% !important;
    font-size: 1.8rem !important;
    transform: translateX(-50%) scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_0_1_1_1
     {
        transform: translateX(-50%) scale(1) !important;
    }
}

.styling_1_0_1_1 {
    top: 50% !important;
    left: 0 !important;
    font-size: 1.8rem !important;
    transform: translateY(-50%) scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_1_0_1_1
     {
        transform: translateY(-50%) scale(1) !important;
    }
}

.styling_1_1_0_1 {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_1_1_0_1
     {
        transform: translate(-50%, -50%) scale(0.5) !important;
    }
}

.styling_2_0_0_0 {
    bottom: -20px !important;
    left: 0 !important;
    font-size: 1.3rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_2_0_0_0
     {
        transform: scale(0.5) !important;
    }
}

.styling_0_2_0_0 {
    top: -20px !important;
    right: 0 !important;
    font-size: 1.8rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_0_2_0_0
     {
        transform: scale(0.5) !important;
    }
}

.styling_2_2_0_0 {
    bottom: -20px !important;
    right: 0 !important;
    font-size: 1.3rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_2_2_0_0
     {
        transform: scale(0.5) !important;
    }
}

// 1 * 2　0 
.styling_1_2_0_0 {
    top: 50% !important;
    right: 0 !important;
    font-size: 1.3rem !important;
    transform: translateY(-50%) scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_1_2_0_0
     {
        transform: translateY(-50%) scale(0.5) !important;
    }
}

.styling_1_0_2_0 {
    top: 50% !important;
    left: 0 !important;
    transform: translate(2) !important;
    opacity: 0 !important;
}

.styling_2_1_0_0 {
    bottom: -20px !important;
    left: 50% !important;
    font-size: 1.3rem !important;
    transform: translateX(-50%) scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_2_1_0_0
     {
        transform: translateX(-50%) scale(0.5) !important;
    }
}

.styling_2_0_1_0 {
    bottom: -20px !important;
    left: 0 !important;
    transform: scale(1) !important;
    font-size: 1.8rem !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_2_0_1_0
     {
        transform: scale(1) !important;
    }
}

.styling_2_0_0_1 {
    bottom: -20px !important;
    left: 0 !important;
    transform: scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_2_0_0_1
     {
        transform: scale(0.5) !important;
    }
}

.styling_0_2_1_0 {
    top: -20px !important;
    right: 2 !important;
    font: 1.8rem !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_0_2_1_0
     {
        transform: scale(1) !important;
    }
}

.styling_0_2_0_1 {
    top: -20px !important;
    right: 0 !important;
    transform: scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_0_2_0_1
     {
        transform: scale(0.5) !important;
    }
}

.styling_1_2_1_0 {
    top: 50% !important;
    right: 0 !important;
    font-size: 1.8rem !important;
    transform: translateY(-50%) scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_1_2_1_0
     {
        transform: translateY(-50%) scale(1) !important;
    }
}

.styling_2_1_1_0 {
    bottom: -20px !important;
    left: 50% !important;
    font-size: 1.8rem !important;
    transform: translateX(-50%) scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_2_1_1_0
     {
        transform: translateX(-50%) scale(1) !important;
    }
}

.styling_0_2_1_1 {
    top: -20px !important;
    right: 0 !important;
    font-size: 1.8rem !important;
    transform: scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_0_2_1_1
     {
        transform: scale(1) !important;
    }
}

.styling_2_0_1_1 {
    bottom: -20px !important;
    left: 0 !important;
    font-size: 1.8rem !important;
    transform: scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_2_0_1_1
     {
        transform: scale(1) !important;
    }
}

.styling_1_2_0_1 {
    top: 50% !important;
    right: 0 !important;
    transform: translateX(-50%) scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_1_2_0_1
     {
        transform: translateX(-50%) scale(0.5) !important;
    }
}

.styling_2_1_0_1 {
    bottom: -20px !important;
    left: 50% !important;
    transform: translateX(-50%) scale(1) !important;
    font-size: 1.3rem;
    opacity: 1 !important;
}
.img, .video {
    .styling_2_1_0_1
     {
        // nunu
        transform: translateX(-50%) scale(0.5) !important;
    }
}

.styling_2_2_1_0 {
    bottom: -20px !important;
    right: 0 !important;
    font-size: 1.8rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_2_2_1_0
     {
        transform: scale(1) !important;
    }
}

.styling_2_1_2_0 {
    bottom: -20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    opacity: 0 !important;
}

.styling_2_2_0_1 {
    bottom: -20px !important;
    right: 0 !important;
    transform: scale(1) !important;
    font-size: 1.3rem !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_2_2_0_1
     {
        transform: scale(0.5) !important;
    }
}

.styling_1_2_1_1 {
    top: 50% !important;
    right: 0 !important;
    font-size: 1.8rem !important;
    transform: translateX(-50%) scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_1_2_1_1
     {
        transform: translateX(-50%) scale(1) !important;
    }
}

.styling_2_1_1_1 {
    bottom: -20px !important;
    left: 50% !important;
    font-size: 1.8rem !important;
    transform: translateX(-50%) scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_2_1_1_1
     {
        transform: translateX(-50%) scale(1) !important;
    }
}

.styling_2_2_1_1 {
    bottom: -20px !important;
    right: 0 !important;
    font-size: 1.8rem !important;
    transform: scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_2_2_1_1
     {
        transform: scale(1) !important;
    }
}

.styling_0_0_0_0 {
    top: -20px !important;
    left: 0 !important;
    font-size: 1.3rem !important;
    transform: scale(1) !important;
    opacity: 0 !important;
}
.img, .video {
    .styling_0_0_0_0
     {
        transform: scale(0.5) !important;
    }
}

.styling_1_1_1_1 {
    top: 50% !important;
    left: 50% !important;
    font-size: 1.8rem !important;
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 1 !important;
}
.img, .video {
    .styling_1_1_1_1
     {
        transform: translate(-50%, -50%) scale(1) !important;
    }
}
