@charset "UTF-8";
@import url("https://use.typekit.net/shv1tpd.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

html, body {
  font-size: 10px;
  background-color: #121212;
  width: 100vw;
  overflow-x: hidden;
}

.inner {
  max-width: 776px;
  box-sizing: border-box;
  margin: 0 auto;
}

h1, h2, h3, p, span, a {
  font-family: "brandon-grotesque", sans-serif;
  text-decoration: none;
  letter-spacing: 0.08em;
  line-height: 2.1;
  color: #ffffff;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

p, span, a {
  font-size: 1.2rem;
  font-weight: 400;
}

.p_w, .um_display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.p_w {
  z-index: 5000;
}
.p_w .pointer_and_wheel {
  position: absolute;
  z-index: 10;
}
.p_w .pointer_and_wheel .cover {
  z-index: 30;
  position: relative;
}
.p_w .pointer_and_wheel .cover .pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0a0a0a;
  box-shadow: inset 5px 5px 12px #0a0a0a, inset -5px -5px 12px #1a1a1a !important;
}
.p_w .pointer_and_wheel .cover .wheel {
  position: absolute;
  top: -40px;
  left: -40px;
}
.p_w .pointer_and_wheel .cover .wheel .container {
  position: relative;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_1, .p_w .pointer_and_wheel .cover .wheel .container .layer_2, .p_w .pointer_and_wheel .cover .wheel .container .layer_3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-size: contain;
}
.p_w .pointer_and_wheel .cover .wheel .container .list {
  position: relative;
  width: 100%;
  height: 100%;
}
.p_w .pointer_and_wheel .cover .wheel .container .list a {
  position: absolute;
  background-color: #1b1b1b;
  opacity: 0;
}
.p_w .pointer_and_wheel .cover .wheel .container .list .select_1 {
  width: 50px;
  height: 50px;
}
.p_w .pointer_and_wheel .cover .wheel .container .list .select_2 {
  width: 100px;
  height: 50px;
}
.p_w .pointer_and_wheel .cover .wheel .container .list .select_3 {
  width: 50px;
  height: 50px;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_1 {
  background-image: url("img/new_wheel_1.png");
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_1 .list .select_1 {
  top: 0;
  right: 0;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_1 .list .select_2 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_1 .list .select_3 {
  top: 0;
  left: 0;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_2 .list .select_1 {
  bottom: 0;
  left: 0;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_2 .list .select_2 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_2 .list .select_3 {
  bottom: 0;
  right: 0;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_3 .list .select_1 {
  bottom: 0;
  left: 0;
  width: 50px;
  height: 100px;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_3 .list .select_2 {
  top: 0;
  right: 0;
  width: 50px;
  height: 100px;
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_select_1 {
  background-image: url("img/new_wheel_3.png");
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_select_2 {
  background-image: url("img/new_wheel_2.png");
}
.p_w .pointer_and_wheel .cover .wheel .container .layer_select_3 {
  background-image: url("img/new_wheel_4.png");
}

.um_display {
  z-index: 4500;
}
.um_display .relative {
  width: 100%;
  height: 100%;
  position: relative;
}
.um_display .relative .flex {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  box-sizing: border-box;
}
.um_display .relative .flex .panc {
  min-width: 100vw;
  display: inline-block;
}
.um_display .relative .flex .box {
  display: inline-block;
  min-width: 360px;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  box-sizing: border-box;
}
.um_display .relative .flex .box:after {
  content: "";
  position: absolute;
  height: 100%;
}
.um_display .relative .flex .box img, .um_display .relative .flex .box iframe {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.um_display .relative .flex .um_centering {
  border: 5px solid #0070D8;
}
.um_display .relative .flex .null_f {
  background-image: url("img/um_box.png");
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  min-width: 360px;
  min-height: 200px;
  box-sizing: border-box;
}
.um_display .relative .um_image {
  width: 360px;
  flex-direction: column;
  overflow-y: scroll;
  white-space: nowrap;
}
.um_display .relative .um_video {
  height: 225px;
  width: calc((100% + 360px) / 2);
  left: 0;
  overflow-x: scroll;
  white-space: nowrap;
  flex-direction: row;
}
.um_display .relative .um_audio {
  height: 225px;
  width: calc((100% + 360px) / 2);
  right: 0;
  overflow-x: scroll;
  white-space: nowrap;
  flex-direction: row-reverse;
}

.block_layer {
  position: relative;
  width: 100vw;
  padding: 100vh 0;
}
.block_layer::after {
  content: "";
  width: 1.5px;
  background-color: #0a0a0a;
  height: 100vh;
  position: absolute;
  top: 0;
  left: calc((100% + 360.5px) / 2);
}
.block_layer .sp_cover {
  max-width: calc((100% + 360px) / 2);
  border: 1.5px solid #0a0a0a;
}
.block_layer .sp_cover .orange_space {
  position: relative;
  z-index: 200;
  top: -6px;
}
.block_layer .sp_cover .orange_space .orange_pointer_zone, .block_layer .sp_cover .orange_space .orange_stripe_zone {
  position: absolute;
  top: 0;
  width: calc((100% + 360px) / 2);
  margin: 0 auto 0 0;
  overflow-x: auto;
  white-space: nowrap;
}
.block_layer .sp_cover .orange_space .orange_pointer_zone .orange_line, .block_layer .sp_cover .orange_space .orange_stripe_zone .orange_line {
  display: inline-block;
  position: relative;
  width: calc(8640px + 200vw);
  height: 12px;
}
.block_layer .sp_cover .orange_space .orange_pointer_zone .orange_line .orange_pointer, .block_layer .sp_cover .orange_space .orange_pointer_zone .orange_line .orange_stripe, .block_layer .sp_cover .orange_space .orange_stripe_zone .orange_line .orange_pointer, .block_layer .sp_cover .orange_space .orange_stripe_zone .orange_line .orange_stripe {
  position: absolute;
  background-color: #0070D8;
}
.block_layer .sp_cover .orange_space .orange_pointer_zone .orange_line .orange_pointer, .block_layer .sp_cover .orange_space .orange_stripe_zone .orange_line .orange_pointer {
  z-index: 999;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 2px;
}
.block_layer .sp_cover .orange_space .orange_pointer_zone .orange_line .orange_stripe, .block_layer .sp_cover .orange_space .orange_stripe_zone .orange_line .orange_stripe {
  z-index: 99;
  height: 3px;
  top: 4.5px;
}
.block_layer .sp_cover .sp {
  position: relative;
  z-index: 100;
}
.block_layer .sp_cover .sp .horizontal {
  width: 100%;
  margin: 0 auto 0 0;
  overflow-x: auto;
  white-space: nowrap;
}
.block_layer .sp_cover .sp .horizontal .horizontal_child {
  display: inline-block;
}
.block_layer .sp_cover .sp .horizontal .adjuster {
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
.block_layer .sp_cover .sp .horizontal .vertical {
  width: 360px;
  height: 66px;
  margin: 0 auto;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.block_layer .sp_cover .sp .horizontal .vertical .stripe_ver {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
}
.block_layer .sp_cover .sp .horizontal .vertical .stripe_hor {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}
.block_layer .sp_cover .sp .horizontal .vertical label {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.block_layer .sp_cover .sp .horizontal .vertical label input {
  display: none;
}
.block_layer .sp_cover .sp .horizontal .vertical .image_input {
  background-image: url("img/img_box.png");
  background-size: cover;
  background-position: 50% 50%;
}
.block_layer .sp_cover .sp .horizontal .vertical .video_input {
  background-color: purple;
}
.block_layer .sp_cover .sp .horizontal .vertical .audio_input {
  background-color: blue;
}
.block_layer .sp_cover .sp .horizontal .vertical .write_area, .block_layer .sp_cover .sp .horizontal .vertical img, .block_layer .sp_cover .sp .horizontal .vertical iframe {
  padding: 20px 10px;
}
.block_layer .sp_cover .sp .horizontal .centering {
  box-shadow: inset 5px 5px 12px #0a0a0a, inset -5px -5px 12px #171717 !important;
}
.block_layer .sp_cover .sp .horizontal .video, .block_layer .sp_cover .sp .horizontal .img {
  height: 225px !important;
}
.block_layer .sp_cover .sp .horizontal .same .write_area, .block_layer .sp_cover .sp .horizontal .same img, .block_layer .sp_cover .sp .horizontal .same iframe {
  opacity: 0 !important;
}
.block_layer .sp_cover .sp .horizontal .same_end .write_area, .block_layer .sp_cover .sp .horizontal .same_end img, .block_layer .sp_cover .sp .horizontal .same_end iframe {
  opacity: 1 !important;
}
.new_layer {
  z-index: 5000;
}
.new_layer .sp_cover {
  max-width: 100vw;
  z-index: 1 !important;
}
.new_layer .sp_cover .orange_space {
  z-index: 15;
}
.new_layer .sp_cover .orange_space .orange_pointer_zone, .new_layer .sp_cover .orange_space .orange_stripe_zone {
  width: 100%;
}
.new_layer .sp_cover .sp {
  z-index: 1 !important;
}
.new_layer .sp_cover .sp .horizontal .centering {
  box-shadow: none !important;
}
.new_layer .sp_cover .sp .horizontal .new_layer_centering {
  box-shadow: inset 5px 5px 12px #0a0a0a, inset -5px -5px 12px #171717 !important;
}
.new_layer .sp_cover .sp .horizontal .vertical {
  border: 1px solid #0a0a0a;
}
.statusbar {
  width: 100%;
  padding: 0px 50px;
  height: 80px;
  background-color: #0a0a0a;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.statusbar p, .statusbar a {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #fff;
  display: block;
}
.statusbar p .url, .statusbar a .url {
  opacity: 0.6;
  font-weight: 500;
  text-decoration: underline;
  display: inline;
}
.statusbar p {
  width: 30%;
  text-align: right;
  font-weight: 400;
}
.statusbar .button {
  font-weight: 700;
  text-align: center;
  width: 10%;
  background-color: #0070D8;
  padding: 5px;
  border-radius: 2px;
}

.write_area {
  position: absolute;
  width: 90%;
  height: 66px;
  box-sizing: border-box;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: "Brandon-Grotesque", sans-serif;
  line-height: 2;
  border: none;
  resize: none;
  outline: none;
}

img, iframe {
  position: absolute;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
  box-sizing: border-box;
}

.ms_area {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 93%;
  height: 28px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #171717;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: "Brandon-Grotesque", sans-serif;
  line-height: 2;
  border: none;
  resize: none;
  outline: none;
  padding: 5px 10px 28px 10px;
  box-sizing: border-box;
  border-radius: 2px;
}

.special_cov {
  background-color: #121212;
  z-index: 100;
}
.special_cov .write_area, .special_cov img, .special_cov iframe {
  padding: 20px 5px;
}

.edit_mode .special_cov .write_area, .edit_mode .special_cov img, .edit_mode .special_cov iframe {
  padding: 25px 5px;
}

.redirect_cover {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: #0070D8;
  position: fixed;
  z-index: 8000;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redirect_cover .contents {
  z-index: 300;
  text-align: center;
  opacity: 0;
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.redirect_cover .contents .download_button {
  padding: 15px 25px;
  border-radius: 3px;
  line-height: 1;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  border: 0.8px solid #fff;
}
.redirect_cover .contents .additional {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0 0 0 80px;
  display: block;
  border-bottom: 0.6px solid #fff;
}

.horizontal, .orange_pointer_zone, .orange_stripe_zone {
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
}
.horizontal::-webkit-scrollbar, .orange_pointer_zone::-webkit-scrollbar, .orange_stripe_zone::-webkit-scrollbar {
  display: none;
}

.styling_1_0_0_0 {
  top: 50% !important;
  left: 0 !important;
  font-size: 1.3rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_1_0_0_0, .video .styling_1_0_0_0 {
  transform: translateY(-50%) scale(0.5) !important;
}

.styling_0_1_0_0 {
  top: -20px !important;
  left: 50% !important;
  font-size: 1.3rem !important;
  transform: translateX(-50%) scale(1) !important;
}

.img .styling_0_1_0_0, .video .styling_0_1_0_0 {
  transform: translateX(-50%) scale(0.5) !important;
}

.styling_0_0_1_0 {
  top: -20px !important;
  left: 0 !important;
  font-size: 1.3rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_0_0_1_0, .video .styling_0_0_1_0 {
  transform: scale(1) !important;
}

.styling_0_0_0_1 {
  top: -20px !important;
  left: 0 !important;
  transform: scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_0_0_0_1, .video .styling_0_0_0_1 {
  transform: scale(0.5) !important;
}

.styling_1_1_0_0 {
  top: 50% !important;
  left: 50% !important;
  font-size: 1.3rem !important;
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 0 !important;
}

.img .styling_1_1_0_0, .video .styling_1_1_0_0 {
  transform: translate(-50%, -50%) scale(0.5) !important;
}

.styling_0_1_1_0 {
  top: -20px !important;
  left: 50% !important;
  font-size: 1.8rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_0_1_1_0, .video .styling_0_1_1_0 {
  transform: translateX(-50%) scale(1) !important;
}

.styling_0_0_1_1 {
  top: -20px !important;
  left: 0 !important;
  font-size: 1.8rem !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}

.img .styling_0_0_1_1, .video .styling_0_0_1_1 {
  transform: scale(1) !important;
}

.styling_1_0_1_0 {
  top: 50% !important;
  left: 0 !important;
  font-size: 1.8rem !important;
  transform: translateY(-50%) scale(1) !important;
  opacity: 0 !important;
}

.img .styling_1_0_1_0, .video .styling_1_0_1_0 {
  transform: translateY(-50%) scale(1) !important;
}

.styling_0_1_0_1 {
  top: -20px !important;
  left: 50% !important;
  transform: translateX(-50%) scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_0_1_0_1, .video .styling_0_1_0_1 {
  transform: translateX(-50%) scale(0.5) !important;
}

.styling_1_0_0_1 {
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-50%) scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_1_0_0_1, .video .styling_1_0_0_1 {
  transform: translateY(-50%) scale(0.5) !important;
}

.styling_1_1_1_0 {
  top: 50% !important;
  left: 50% !important;
  font-size: 1.8rem !important;
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 0 !important;
}

.img .styling_1_1_1_0, .video .styling_1_1_1_0 {
  transform: translate(-50%, -50%) scale(1) !important;
}

.styling_0_1_1_1 {
  top: -20px !important;
  left: 50% !important;
  font-size: 1.8rem !important;
  transform: translateX(-50%) scale(1) !important;
  opacity: 1 !important;
}

.img .styling_0_1_1_1, .video .styling_0_1_1_1 {
  transform: translateX(-50%) scale(1) !important;
}

.styling_1_0_1_1 {
  top: 50% !important;
  left: 0 !important;
  font-size: 1.8rem !important;
  transform: translateY(-50%) scale(1) !important;
  opacity: 1 !important;
}

.img .styling_1_0_1_1, .video .styling_1_0_1_1 {
  transform: translateY(-50%) scale(1) !important;
}

.styling_1_1_0_1 {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_1_1_0_1, .video .styling_1_1_0_1 {
  transform: translate(-50%, -50%) scale(0.5) !important;
}

.styling_2_0_0_0 {
  bottom: -20px !important;
  left: 0 !important;
  font-size: 1.3rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_2_0_0_0, .video .styling_2_0_0_0 {
  transform: scale(0.5) !important;
}

.styling_0_2_0_0 {
  top: -20px !important;
  right: 0 !important;
  font-size: 1.8rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_0_2_0_0, .video .styling_0_2_0_0 {
  transform: scale(0.5) !important;
}

.styling_2_2_0_0 {
  bottom: -20px !important;
  right: 0 !important;
  font-size: 1.3rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_2_2_0_0, .video .styling_2_2_0_0 {
  transform: scale(0.5) !important;
}

.styling_1_2_0_0 {
  top: 50% !important;
  right: 0 !important;
  font-size: 1.3rem !important;
  transform: translateY(-50%) scale(1) !important;
  opacity: 0 !important;
}

.img .styling_1_2_0_0, .video .styling_1_2_0_0 {
  transform: translateY(-50%) scale(0.5) !important;
}

.styling_1_0_2_0 {
  top: 50% !important;
  left: 0 !important;
  transform: translate(2) !important;
  opacity: 0 !important;
}

.styling_2_1_0_0 {
  bottom: -20px !important;
  left: 50% !important;
  font-size: 1.3rem !important;
  transform: translateX(-50%) scale(1) !important;
  opacity: 0 !important;
}

.img .styling_2_1_0_0, .video .styling_2_1_0_0 {
  transform: translateX(-50%) scale(0.5) !important;
}

.styling_2_0_1_0 {
  bottom: -20px !important;
  left: 0 !important;
  transform: scale(1) !important;
  font-size: 1.8rem !important;
  opacity: 0 !important;
}

.img .styling_2_0_1_0, .video .styling_2_0_1_0 {
  transform: scale(1) !important;
}

.styling_2_0_0_1 {
  bottom: -20px !important;
  left: 0 !important;
  transform: scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_2_0_0_1, .video .styling_2_0_0_1 {
  transform: scale(0.5) !important;
}

.styling_0_2_1_0 {
  top: -20px !important;
  right: 2 !important;
  font: 1.8rem !important;
  opacity: 0 !important;
}

.img .styling_0_2_1_0, .video .styling_0_2_1_0 {
  transform: scale(1) !important;
}

.styling_0_2_0_1 {
  top: -20px !important;
  right: 0 !important;
  transform: scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_0_2_0_1, .video .styling_0_2_0_1 {
  transform: scale(0.5) !important;
}

.styling_1_2_1_0 {
  top: 50% !important;
  right: 0 !important;
  font-size: 1.8rem !important;
  transform: translateY(-50%) scale(1) !important;
  opacity: 0 !important;
}

.img .styling_1_2_1_0, .video .styling_1_2_1_0 {
  transform: translateY(-50%) scale(1) !important;
}

.styling_2_1_1_0 {
  bottom: -20px !important;
  left: 50% !important;
  font-size: 1.8rem !important;
  transform: translateX(-50%) scale(1) !important;
  opacity: 0 !important;
}

.img .styling_2_1_1_0, .video .styling_2_1_1_0 {
  transform: translateX(-50%) scale(1) !important;
}

.styling_0_2_1_1 {
  top: -20px !important;
  right: 0 !important;
  font-size: 1.8rem !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}

.img .styling_0_2_1_1, .video .styling_0_2_1_1 {
  transform: scale(1) !important;
}

.styling_2_0_1_1 {
  bottom: -20px !important;
  left: 0 !important;
  font-size: 1.8rem !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}

.img .styling_2_0_1_1, .video .styling_2_0_1_1 {
  transform: scale(1) !important;
}

.styling_1_2_0_1 {
  top: 50% !important;
  right: 0 !important;
  transform: translateX(-50%) scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_1_2_0_1, .video .styling_1_2_0_1 {
  transform: translateX(-50%) scale(0.5) !important;
}

.styling_2_1_0_1 {
  bottom: -20px !important;
  left: 50% !important;
  transform: translateX(-50%) scale(1) !important;
  font-size: 1.3rem;
  opacity: 1 !important;
}

.img .styling_2_1_0_1, .video .styling_2_1_0_1 {
  transform: translateX(-50%) scale(0.5) !important;
}

.styling_2_2_1_0 {
  bottom: -20px !important;
  right: 0 !important;
  font-size: 1.8rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_2_2_1_0, .video .styling_2_2_1_0 {
  transform: scale(1) !important;
}

.styling_2_1_2_0 {
  bottom: -20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  opacity: 0 !important;
}

.styling_2_2_0_1 {
  bottom: -20px !important;
  right: 0 !important;
  transform: scale(1) !important;
  font-size: 1.3rem !important;
  opacity: 1 !important;
}

.img .styling_2_2_0_1, .video .styling_2_2_0_1 {
  transform: scale(0.5) !important;
}

.styling_1_2_1_1 {
  top: 50% !important;
  right: 0 !important;
  font-size: 1.8rem !important;
  transform: translateX(-50%) scale(1) !important;
  opacity: 1 !important;
}

.img .styling_1_2_1_1, .video .styling_1_2_1_1 {
  transform: translateX(-50%) scale(1) !important;
}

.styling_2_1_1_1 {
  bottom: -20px !important;
  left: 50% !important;
  font-size: 1.8rem !important;
  transform: translateX(-50%) scale(1) !important;
  opacity: 1 !important;
}

.img .styling_2_1_1_1, .video .styling_2_1_1_1 {
  transform: translateX(-50%) scale(1) !important;
}

.styling_2_2_1_1 {
  bottom: -20px !important;
  right: 0 !important;
  font-size: 1.8rem !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}

.img .styling_2_2_1_1, .video .styling_2_2_1_1 {
  transform: scale(1) !important;
}

.styling_0_0_0_0 {
  top: -20px !important;
  left: 0 !important;
  font-size: 1.3rem !important;
  transform: scale(1) !important;
  opacity: 0 !important;
}

.img .styling_0_0_0_0, .video .styling_0_0_0_0 {
  transform: scale(0.5) !important;
}

.styling_1_1_1_1 {
  top: 50% !important;
  left: 50% !important;
  font-size: 1.8rem !important;
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 1 !important;
}

.img .styling_1_1_1_1, .video .styling_1_1_1_1 {
  transform: translate(-50%, -50%) scale(1) !important;
}/*# sourceMappingURL=style.css.map */